

<%= form_for @visit do |f| %>
    <div>
        <%= f.label :visit_date, 'Visit Date:'%>
        <%= f.text_field :visit_date %>
    </div>
    <div>
        <%= f.label :description, 'Visit Description:'%>
        <%= f.text_area :description %>
    </div>
    <%= f.submit "Create" %>
<% end %>