<%= form_for @restaurant do |f| %>
    <div>
        <%= f.label :name, 'Restaurant Name: '%>
        <%= f.text_field :name %><br>
    </div>
    
    <%# <div> %>
        <%# <%= f.label :neighborhood, 'Restaurant Location: '%> %>
        <%# <%= f.text_field :neighborhood %><br> %>
    <%# </div> %>
    <div>
        <%= f.submit "Create", :class => "btn-outline-primary" %><br>
    </div>
<% end%>