<!DOCTYPE html>
<html>
  <head>
    <title>Wdye</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <%= nav_bar_if_logged_in %>
    <div class="container h-100">
    <%= yield %>
    </div>
  </body>
</html>